:root {
    --primary-color: #780000; 
    --secondary-color: #c1121f; 
    --background-color: #d1cbbf; 
    --text-color: #669bbc; 
    --font-family: 'Roboto', sans-serif; 
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: #d1cbbf;
    color: #c1121f; 
    text-align: center;
    padding: 10px 0;
}

h1, h2 {
    text-align: center;
    color: var(--primary-color);
}

.kindle-picture {
    display: block; 
    max-width: 500px;
    height: auto; 
    margin: 0 auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.kindle-info {
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
}

.kindle-info p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: justify;
}

.weather-icon {
    width: 40px;
    height: auto;
    display: block;
    margin: 10px auto;
}

/* Footer Styling */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .kindle-info {
        width: 70%;
        padding: 40px;
    }

    .weather-icon {
        width: 50px;
    }
}

@media (max-width: 767px) {
    h1, h2 {
        font-size: 1.5rem; 
    }

    .kindle-info {
        padding: 15px;
    }

    .weather-icon {
        width: 30px; 
    }
}
